rect{
stroke:#fff;
stroke-width:1;
opacity:0.85;
}

rect:hover{
stroke:#0cc;
opacity:1.0;
}

svg{
  display:block;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  background: #222;
}

#colorName{
  text-align:center;
}

#colorName:before{
 content: "color code: ";
}

body{
  font-family:helvetica,arial,sans-serif;
}

body h2{
  text-align: center;
  width:40%;
  margin-left:auto;
  margin-right:auto;
}
